nav.navigation
  .navigation__primary
    .navigation__logo
      img(src='' alt='')
      a(href='/')
        h1 Racine
    .navigation__links
  .navigation__secondary
    a.navigation__dashboard Dashboard
      img(src='' alt='logo dashboard')
    a.navigation__profile Profile
      img(src='' alt='logo profile')
    a.navigation__basket Basket
      img(src='' alt='logo basket')