.home--wrapper {
  display: flex;
  flex-direction: column;
  padding: 3.2rem;
  gap: 6.4rem;

  @include media('<phone') {
    padding: 1.6rem;
  }
  @include media('>desktop') {
    margin: 0 auto;
    max-width: 1920px;
  }
}

.home--secondaryTitle {
  @extend %title-64-b;
}

.home--picture {
  height: 90rem;
  overflow: hidden;

  @include media('<phone') {
    height: 70rem;
  }
}

.home__img {
  height: auto;
  width: 100%;

  @include media('<phone') {
    height: 100%;
    width: auto;
  }
}

// Bestsellers
.home--bestsellers {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin: 0 18.9rem;

  @include media('<phone') {
    margin: 0;
  }
}

.home--bestsellersContent {
  margin: 0 6.1rem;

  @include media('<phone') {
    margin: 0;
    overflow: auto;
  }
}

.home--bestsellersList {
  display: flex;
  justify-content: space-between;

  @include media('<phone') {
    gap: 1.6rem;
    justify-content: flex-start;
  }
}

.home--bestsellersElement {
  background-color: $color-cornflowerBlue;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 1.6rem;
}

.home--bestsellersTag {
  @extend %description-12;
  color: $color-portage;
  text-transform: uppercase;
}

.home--bestsellersImgWrapper {
  background-color: $color-black;
  height: 21rem;
  width: 21rem;
}

.home--bestsellersImg {
}

.home--bestsellersName {
  @extend %description-16-b;
}

.home--bestsellersAdvicesWrapper {
  display: flex;
  justify-content: flex-end;
}

.home--bestsellersAdvices {
  @extend %description-12;
}

.home--bestsellersButton {
  border: 2px solid #232323;
  width: 100%;
  font-size: 1.6rem;
  font-weight: bold;
  padding: .8rem 0;
  text-transform: uppercase;
}

// Quote
.home--quote {
  align-items: center;
  background-color: $color-cornflowerBlue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 38.1rem;
  position: relative;
}

.home--leftQuote {
  position: absolute;
  left: 32rem;
  top: 9.4rem;

  @include media('<phone') {
    left: 1.6rem;
    top: 1.6rem;
  }
}

.home--rightQuote {
  position: absolute;
  right: 32rem;
  bottom: 9.4rem;

  @include media('<phone') {
    right: 1.6rem;
    bottom: 9.4rem;
  }
}

.home--quoteContent {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
  max-width: 91.3rem;

  @include media('<phone') {
    padding: 1.6rem;
  }
}

.home--quoteDescription {
  @extend %description-32-b;
}

.home--quoteAuthor {
  @extend %description-16;
}

// Need advice
.home--needAdvice {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
  padding: 0 18.9rem;

  @include media('<phone') {
    padding: 0;
  }
}

.home--secondaryTitle {

}

.home--needAdviceList {
  display: flex;
  justify-content: space-between;

  @include media('<phone') {
    gap: 3.2rem;
    justify-content: flex-start;
    overflow: auto;
    width: 100%;
  }
}

.home--needAdviceElement {
  background-color: $color-cornflowerBlue;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 3.2rem;
}

.home--needAdviceImgWrapper {
  background-color: $color-black;
  height: 40rem;
  width: 40rem;
}

.home--needAdviceImg {

}

.home--needAdviceTag {
  @extend %description-12;
  color: $color-portage;
  text-transform: uppercase;
}

.home--needAdviceTitle {
  @extend %description-16-b;
}

// Newsletter
.home--newsletter {
  background-color: $color-cornflowerBlue;
  display: flex;
  flex-direction: column;
  height: 27rem;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;

  @include media('<phone') {
    padding: 1.6rem;
  }
}

.home--newsletterInputWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.6rem;

  @include media('<phone') {
    gap: 2.4rem;
  }
}

.home--newsletterTitle {
  @extend %description-32-b;
}

.home--newsletterForm {
  display: flex;
  gap: 0.8rem;
}

.home--newsletterInput {
  background-color: transparent;
  border: 0;
  border-bottom-color: $color-black;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  padding: .8rem;
  width: 25rem;
}

.home--newsletterButton {
  border: 2px solid #232323;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0.8rem 2.4rem;
  text-transform: uppercase;
}

// Our Engagement
.home--ourEngagement {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding: 0 15.7rem;

  @include media('<phone') {
    padding: 1.6rem;
  }
}

.home--ourEngagementList {
  display: flex;
  justify-content: space-between;

  @include media('<phone') {
    gap: 3.2rem;
    justify-content: flex-start;
    overflow: auto;
    width: 100%;
  }
}

.home--engagementElement {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.home--engagementImg {
  background-color: $color-black;
  border-radius: 50%;
  height: 25.1rem;
  width: 25.1rem;
}

.home--engagementText {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.home--engagementTitle {
  @extend %title-32-b;
}

.home--engagementDescription {
  @extend %description-16;
}