%title-96-b {
  font-family: $font-neue-montreal;
  font-size: 9.6rem;
  font-weight: bold;
}

%title-64 {
  font-family: $font-neue-montreal;
  font-size: 6.4rem;
}
%title-64-b {
  font-family: $font-neue-montreal;
  font-size: 6.4rem;
  font-weight: bold;
}

%title-32 {
  font-family: $font-neue-montreal;
  font-size: 3.2rem;
}
%title-32-b {
  font-family: $font-neue-montreal;
  font-size: 3.2rem;
  font-weight: bold;
}

%title-22-b {
  font-family: $font-neue-montreal;
  font-size: 2.2rem;
  font-weight: bold;
}

%title-18 {
  font-family: $font-neue-montreal;
  font-size: 1.8rem;
}
