*,
*::after,
*::before {
  box-sizing: border-box;
}

select:active {
  outline: none;
}

select:focus {
  outline: none;
}

input:active {
  outline: none;
}

input:focus {
  outline: none;
}

html {
  font-size: calc(100vw / 1920 * 10);
  line-height: 1;

  @include media('<phone') {
    font-size: calc(100vw / 750 * 10);
  }
  @include media('>desktop') {
    font-size: 10px;
  }
}

html::-webkit-scrollbar {
  width: 0;
}

body {
  @extend %description-16;
  color: $color-black;
  font-family: $font-neue-montreal;

  @include media('>desktop') {
    margin: 0 auto;
  }
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

button {
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  outline: none;
}

img {
  vertical-align: middle;
}