extends ../base.pug

block variables
  - var template = 'authenticated'

block content

  main
    if error
      p= error
    .authenticated
      .authenticated--subscription
        h2.authenticated--subtitle Inscription
        form.authenticated--form(action='/authenticated/subscription' method='post')
          select.authenticated--select(placeholder='Civilité' name='civility')
            option.authenticated--option(value='1') Il
            option.authenticated--option(value='2') Elle
            option.authenticated--option(value='3') Iel
          input.authenticated--input(type='text' placeholder='Prénom' name='firstname')
          input.authenticated--input(type='text' placeholder='Nom' name='lastname')
          input.authenticated--input(type='email' placeholder='Email' name='email')

          input.authenticated--input(type='password' placeholder='Mot de passe' name='password')
          input.authenticated--input(type='phone' placeholder='N° de téléphone' name='phone')
          button.authenticated--button(type='submit') S'inscrire
      .authenticated--login
        h2.authenticated--subtitle Connexion
        form.authenticated--form(action='/authenticated/login' method='post')
          input.authenticated--input(type='email' placeholder='Votre Email' name='email')
          input.authenticated--input(type='password' placeholder='Votre mot de passe' name='password')
          button.authenticated--button(type='submit') Connexion