extends ../base.pug

block variables
  - var template = 'eshop'

block content
  main
    .eshop--wrapper
      ul.eshop--productList
        each product, key in products
          li.eshop--productWrapper
            .eshop--productTagWrapper
              p.eshop--productFamily= product.family
            .eshop--productImgWrapper
              img.eshop--productImg(src='' alt='')
            .eshop--productContentWrapper
              p.eshop--productTitle= product.name
              p.eshop--productDescription= product.commonName
            .eshop--productBtnWrapper
              a.eshop--productBtn(href='')= `Voir plus - ${product.price}`