extends ../base.pug

block variables
  - var template = 'home'

block content
  main
    .home--wrapper
      .home--picture
        img.home__img(src='./shared/images/home_front_page.jpg' alt='picture')