nav.navigation
  .navigation--primary
    .navigation--logo
      img(src='' alt='').navigation--logoImg
      a(href='/').navigation--linkTitle
        h1.navigation--title Racine
    .navigation--links
      ul.navigation--list
        li.navigation--li
          a(href='').navigation--link e-Shop
        li.navigation--li
          a(href='').navigation--link Evenements
        li.navigation--li
          a(href='').navigation--link La Racinerie
        li.navigation--li
          a(href='').navigation--link La Team
        li.navigation--li
          a(href='').navigation--link FAQ
  .navigation--secondary
    a(href='/').navigation--dashboard
      img(src='dashboard_icon.svg' alt='logo dashboard').navigation--icon
    a(href='/').navigation--profile
      img(src='' alt='logo profile').navigation--icon
    a(href='/').navigation--basket
      img(src='' alt='logo basket').navigation--icon
